services:
  - type: web
    name: beldouze-ecommerce
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    healthCheckPath: /

    envVars:
      - key: NODE_VERSION
        value: "18"

    headers:
      - path: /*
        name: Cache-Control
        value: "public, max-age=0, must-revalidate"
      - path: /assets/*
        name: Cache-Control
        value: "public, max-age=31536000, immutable"
        


